body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("../images/suite.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

p{
    color:blue;
    font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 500px;   
}

h2,h1{
    color: yellow;
}
